#BibleSource {
    color: brown;
}

#BibleVerse {
    color: brown;
    quotes: "„""“";
}

.header {
    color: burlywood;
}

body {
    background-image: url("https://wallpapertag.com/wallpaper/full/6/b/3/450543-popular-bible-background-pictures-2220x1125-meizu.jpg");
    height: 100%;
    background-size: cover;
}

.btn {
    color: burlywood;
}